---
layout:base.njk
{% block header %}
This is the other.njk file!
{% end block %}
<div id="nav">
      <a href="../index.html">Home</a>
      <a href="../pattern-landing/index.html">Patterns</a>
 </div>
---